/* General Styles */
:root {
  --gutter-normal: 16px;
  --gutter-medium: 24px;
  --font-size-small: 14px;
  --white: #fff;
  --pink: #d62828;
}

body {
  background: linear-gradient(rgba(0,0,0, .1), rgba(0,0,0, .4)), 
    url('./images/header.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-size: var(--font-size-normal);
  width: 100%;
  font-family: Arial, sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
}
  
  h1 {
    text-align: center;
    margin-bottom: 40px;
    color: #fff;
  }
  
  /* Work Container */
  .work-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 130px 20px 20px;
  }
  
  /* Work Grid */
  .work-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  .work-tile {
    background-color: #111;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 440px; /* Ensure the tile takes the full available space */
}
  
  .work-tile:hover {
    transform: scale(1.05);
  }
  
  .work-tile img {
    max-height: 120px;
    border-radius: 5px;
    margin-bottom: 15px;
    object-fit: cover;
}

.work-tile h3 {
    color: #fff;
    margin-bottom: 10px;
}

.work-tile p {
    color: #aaa;
    margin-bottom: 15px;
}
  
  .work-tile ul {
    list-style-type: none;
    padding: 0;
  }
  
  .work-tile ul li {
    text-align: left;
    color: #fff;
    margin: 5px 0;
  }
  
  /* Responsive Design */
  @media (max-width: 1024px) {
    .work-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (max-width: 768px) {
    .work-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 480px) {
    .work-grid {
      grid-template-columns: 1fr;
    }
  }
  

  .learn-more-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #d62828;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: auto; /* Push the button to the bottom */
    transition: background-color 0.3s ease;
}

.learn-more-btn:hover {
    background-color: #ba181b;
}

/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
}

/* Navbar Styling */
.navbar {
  margin-top: 10px;
  display: fixed;
  justify-content: flex-end;
  padding: var(--gutter-normal) 0;
  background-color: transparent;
  position: static;
  width: 100%;
  top: 0;
  z-index: 1000;
  padding-bottom: 5px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-left {
  margin-right: auto;
}

.navbar-brand {
  color: var(--white);
  font-size: 24px;
  text-decoration: none;
  padding: 1rem 0;
  display: inline-block;
}

.navbar-right {
  display: flex;
  list-style: none;
  gap: 50px;
}

.navbar-right li:not(:last-child) {
  margin-right: var(--gutter-medium);
}

.navbar-right a {
  font-size: 18px;
  position: relative;
  display: inline-block;
  padding: 1rem 0;
  text-decoration: none;
  color: inherit;
  transition: all 0.2s;
  letter-spacing: 1.2px;
}

.navbar-right a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 100%;
  display: inline-block;
  height: 1rem;
  background: var(--white);
  transition: all 0.25s cubic-bezier(1, 0.68, 0.16, 0.9);
}

.navbar-right a:hover {
  color: var(--pink);
}

.navbar-right a:hover::after {
  right: 0;
  height: 5px;
  background: var(--pink);
}

/* Responsive Navbar Adjustments */
@media (max-width: 500px) {
  .navbar {
      justify-content: center;
  }
}

@media (max-width: 400px) {
  .navbar-right li:not(:last-child) {
      margin-right: var(--gutter-normal);
  }
}

@media (max-width: 300px) {
  .navbar {
      font-size: var(--font-size-small);
  }
}


.more-work-container {
  background-color: #111;
  width: 40%;
  margin: 50px auto 0;
  padding: 20px;
  text-align: center;
  color: var(--white);
  height: 60px;
}

@media (max-width: 500px) {
  .more-work-container {
    height: 100px;
    width: 60%;
  } 
}

.more-work-container p {
  font-size: 20px;
  color: #fff;
}

.github-logo {
  width: 40px; /* You can adjust the size of the GitHub logo */
  vertical-align: middle; /* Align the logo with the text */
  margin-left: 10px; /* Add some spacing between text and logo */
  position: relative;
  top: -3px; /* Adjust the top position to align vertically with the text */
}

.more-work-container a {
  text-decoration: none;
  color: var(--white);
  transition: color 0.2s;
}

.more-work-container a:hover {
  color: var(--pink); /* Change color on hover */
}

/* Responsive Navbar Adjustments */
@media (max-width: 500px) {
  .navbar-left {
    display: none; /* Hide Tomas Tvarijonavičius on mobile */
  }

  .navbar-right {
    justify-content: flex-start; /* Move navbar content to the left */
    width: 100%;
    padding-left: 20px; /* Add some padding for spacing */
    gap: 20px;
  }
}

@media (max-width: 400px) {
  .navbar-right li:not(:last-child) {
      margin-right: var(--gutter-normal);
  }
}

@media (max-width: 300px) {
  .navbar {
      font-size: var(--font-size-small);
  }
}

@media (max-width: 768px) {
  .navbar {
    margin-bottom: 30px;
    padding-bottom: 0;
  }
  
  .work-container {
    margin-top: 0;
    padding-top: 0;
  }
}